{$CADDY_DOMAIN} {
    log {
        no_hostname
        output file /var/log/app/caddy/out.log {
            roll_size 10MiB
            roll_keep 2
        }
        format json
    }

    reverse_proxy client-app:80
}

storage.{$CADDY_DOMAIN} {
    log {
        no_hostname
        output file /var/log/app/caddy/storage.log {
            roll_size 10MiB
            roll_keep 2
        }
        format json
    }

    reverse_proxy storage-cdn:80
}

grafana.{$CADDY_DOMAIN} {
    log {
        no_hostname
        output file /var/log/app/caddy/grafana.log {
            roll_size 10MiB
            roll_keep 2
        }
        format json
    }

    reverse_proxy grafana:3000
}

yookassa.{$CADDY_DOMAIN} {
    log {
        no_hostname
        output file /var/log/app/caddy/yookassa.log {
            roll_size 10MiB
            roll_keep 2
        }
        format json
    }

    @yk_post {
        method POST
        path /webhooks/yookassa*

        # Yookassa IP addresses, see https://yookassa.ru/developers/using-api/webhooks#ip
        remote_ip 185.71.76.0/27 185.71.77.0/27 77.75.153.0/25 77.75.156.11 77.75.156.35 77.75.154.128/25 2a02:5180::/32
    }

    request_body @yk_post {
        max_size 2MiB
    }

    reverse_proxy @yk_post server-app:8000

    respond 404
}
