{$CADDY_DOMAIN} {
    @mutating_methods {
        method POST
        method PUT
        method PATCH
        method DELETE
    }

    @error_responses expression `{http.response.status_code} >= 400`

    log caddy_success {
        no_hostname
        output file /var/log/app/caddy/out.log {
            roll_size 50MiB
            roll_keep 10
        }
        format json
    }

    log caddy_error {
        no_hostname
        output file /var/log/app/caddy/err.log {
            roll_size 50MiB
            roll_keep 10
        }
        format json
    }

    log_name @mutating_methods caddy_success

    handle_errors {
        log_name caddy_error
    }

    request_body @mutating_methods {
        max_size 10MB
    }

    reverse_proxy client-app:80
}
